<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>oatmeal</title>

</head>
<body>
  <div id="search-page">
    <div id="flight-page">
      <section id="airlineapp">
          <header id="header">
          <table class="table">
            <thead>
              <tr>
              <th><a href="">Planes</a></th>
              <th><a href="">Flights</a></th>
              <th><a href="">Admin</a></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          </header>


      <section id="main" class="main">
        <table class="table1">
          <thead>
            <tr class="th">
            <th class="title">Oatmeal Airlines</th>
            <th><button id="searchButton" class="submit">Search Flights</button></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        </section>

        <section id="content">
          <div class="box">
        <table class="table2">
          <thead></thead>
          <tbody>
          <tr>      
            <td><input type="text" placeholder="from" class="text"/></td>
            <td><input type="text" placeholder="to" class="text"/></td>
          </tr>
          <tr>
            <td></td>
            <td><button class="submit1">Cancel</button><span class="space"/><button class="submit1">Save</button></td>
          </tr>       
          </tbody>
        </table>
          </div>
        </section>

         

        
          <div class="page">
            <h1>Flights</h1>
         
              <table class="flight-list">
                <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Flight
                  </th>
                  <th>
                    From>To
                  </th>
                  <th>
                    Plane
                  </th>
                  <th>
                    Seats
                  </th>
              </tr>
              

              </table>
          </div>  
       

          <footer id="footer"></footer>
      </section>

    </div>
</div>

<script>
$("#searchButton").click( function()
{
  l = searchFlights();
  oatmeal.flightsearchview.render();
});
         

 
</script>
</body>
</html>









