<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


  <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>oatmeal</title>

</head>
<body>

<section id="airlineapp">
    <header id="header">
		<table class="table">
			<thead>
				<tr>
				<th style="background-color:white"></th>
				<th><a href="">Search</a></th>
				<th>User name</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
    </header>

	<section id="main" class="main">
		<table class="table1">
			<thead>
				<tr class="th">
				<th class="title">Virgin Airlines</th>
				<th><button class="submit">Search Flights</button></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
    </section>

    <section id="content">
    	<div class="box">
		<table class="table2">
			<thead></thead>
			<tbody>
			<tr>			
				<td><input type="text" placeholder="from" class="text"/></td>
				<td><input type="text" placeholder="to" class="text"/></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="submit1">Cancel</button><span class="space"/><button class="submit1">Save</button></td>
			</tr>				
			</tbody>
		</table>
    	</div>
    </section>

	<section id="seat">
		<div class="page">
			<h1>Flights Search Results</h1>
				<div id="flightList">

 
				<div>
		</div>	
	</section>

    <footer id="footer"></footer>
</section>

	

</body>
</html>